/* Container da imagem */
.skill-wrapper {
  position: relative;
  width: 55px;
  height: 55px;
}

/* Imagem */
.skill-logo {
  object-fit: contain;
  transition: transform 0.2s ease;
}

.skill-logo:hover {
  transform: scale(1.1);
}

/* Tablet */
@media (min-width: 768px) {
  .skill-wrapper {
    width: 85px;
    height: 85px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .skill-wrapper {
    width: 120px;
    height: 120px;
  }
}
