/* ========================= */
/* Base = Mobile (padrão)   */
/* ========================= */

.main-title-bg {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  opacity: 0.2;
  pointer-events: none;
  text-align: center;
  margin-bottom: 1.5rem;
}

.main-section {
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 0 1rem;
  margin: 2rem 0;
}

.main-text {
  color: white;
  font-size: 1rem;
  line-height: 1.6;
}

.skills-section {
  width: 50%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

/* GRID */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 6rem;
  place-items: center;
}

.projects-section {
  width: 100%;
  text-align: center;
}




/* ========================= */
/* Extra small mobile       */
/* ========================= */

@media (max-width: 480px) {
  .main-title-bg {
    font-size: 2rem;
  }

  .main-section {
    padding: 0 0.75rem;
    margin: 1.5rem 0;
  }

  .main-text {
    font-size: 0.9rem;
  }

}


/* ========================= */
/* Tablet (768px+)          */
/* ========================= */

@media (min-width: 768px) {


}


/* ========================= */
/* Desktop (1024px+)        */
/* ========================= */

@media (min-width: 1024px) {
  .main-title-bg {
    font-size: 7rem;
  }

  .main-section {
    max-width: 80rem;
    padding: 0 2rem;
    margin: 5rem auto;
  }

  .main-text {
    font-size: 2rem;
    line-height: 1.8;
  }
  .skills-section {
    width: 80%;
    max-width: 80rem;
    margin: 0 auto;
  } 



}
